/*RESPONSIVE NOVEDADES*/
/*Tablet*/

@media screen and (max-width: 1024px) {
    .gridNovedades {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .sectionNovedadesMusica {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}

/*celular*/
@media screen and (max-width: 500px) {
    .gridNovedades {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .sectionNovedadesMusica {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    img {
        width: 80%;
        height: auto;
    }

    .tamañoFuente {
        font-size: 15px;
    }
}


/*RESPONSIVE INDEX*/

/*TABLET*/
@media screen and (max-width: 1024px) {
.menuYLogo {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (3, 0, 2fr);
    }

.botonComprar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

div {
    width: 330px;
    height: 330px;
    border: 2px;
    margin: 10px;
}
}
}

/*CELULAR*/
@media screen and (max-width: 500px) {
.menuYLogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0, 2fr 0, 2fr 0, 2fr 0, 2fr;
    }

.menu li {
    display: list-item;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    width: 100%;

a {
    background-color: #ffffff;
}

&:hover ul {
    color: #000000;
    background-color: #00cbf3;
}
}

.h2T {
    font-size: 20px;
}

.botonComprar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

div {
    width: 330px;
    height: 330px;
    border: 2px;
}
}

.tamañoFuente {
    font-size: 15px;
}

.responsiveNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
}


/*RESPONSIVE ENVIOS*/
/*Tablet*/
@media screen and (max-width: 1024px) {
.gridEnvio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
}

/*Celular*/
@media screen and (max-width: 500px) {
.gridEnvio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

img {
    width: 80%;
    height: auto;
}

.tamañoFuente {
    font-size: 15px;
}

.responsiveNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
}

/*RESPONSIVE CONTACTO*/
/*Tablet*/
@media screen and (max-width: 1024px) {
.gridContacto {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    }
}

/*Celular*/
@media screen and (max-width: 500px) {
.gridContacto {
    display: grid;
    grid-template-columns: repeat (1fr);
    grid-template-rows: repeat (4, 1fr);
    }

img {
    width: 80%;
    height: auto;
}

.tamañoFuente {
    font-size: 15px;
}

.responsiveNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
}

/*RESPONSIVE PROMOS*/
/*Tablet*/
@media screen and (max-width: 1024px) {
.gridPromos {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (3, 1fr);
}

.promosConSem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textoCent {
    margin: 20px;
}
}

/*Celular*/
@media screen and (max-width: 500px) {
.gridPromos {
    display: grid;
    grid-template-columns: repeat (1fr);
    grid-template-rows: repeat (4, 1fr);
}

.promosConSem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textoCent {
    margin: 20px;
}

img {
    width: 80%;
    height: auto;
}

.tamañoFuente {
    font-size: 15px;
}

.responsiveNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
}

/*RESPONSIVE CDS*/
/*TABLET*/
@media screen and (max-width: 1024px) {
.gridCds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.botonComprar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

div {
    width: 330px;
    height: 330px;
    border: 2px;
    margin: 10px;
}
}
}

/*CELULAR*/
@media screen and (max-width: 500px) {
.gridCds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0fr 1fr 1fr 1fr;
}

.tamañoFuente {
    font-size: 15px;
}

.responsiveNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
}